<% if @question.errors.present? %>
  <% @question.errors.full_messages.each do |message| %>
    $('.qeuston-errors').html("<p class='ajax-notice'><%= j message %></p>");
  <% end %>
<% else %>
  $('.question-box').html('<%= j render 'question' %>');
  $('.edit-question-link').click(function(e) {
    e.preventDefault();
    $(this).hide();
    $('#edit-question').show();
  });
<% end %>
